<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<item label="File Manager (thunar)">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="Terminal">
			<action name="Execute">
				<execute>xfce4-terminal</execute>
			</action>
		</item>
		<item label="Web Browser (firefox)">
			<action name="Execute">
				<execute>firefox</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-804255" label="Accessories">
			<item label="Batch File Renamer">
				<action name="Execute">
					<execute>gprename</execute>
				</action>
			</item>
			<item label="File Manager (pcmanfm)">
				<action name="Execute">
					<execute>pcmanfm</execute>
				</action>
			</item>
			<item label="Terminal">
				<action name="Execute">
					<execute>xfce4-terminal</execute>
				</action>
			</item>
			<item label="Text Editor (geany)">
				<action name="Execute">
					<execute>geany</execute>
				</action>
			</item>
			<item label="Text Editor (leafpad)">
				<action name="Execute">
					<execute>leafpad</execute>
				</action>
			</item>
			<item label="VirtualBox">
				<action name="Execute">
					<execute>VirtualBox</execute>
				</action>
			</item>
			<item label="Visual Diff &amp; Merge Tool">
				<action name="Execute">
					<execute>meld</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-894338" label="Graphics">
			<item label="Comic Viewer">
				<action name="Execute">
					<execute>mcomix</execute>
				</action>
			</item>
			<item label="Image Editor (pinta)">
				<action name="Execute">
					<execute>pinta</execute>
				</action>
			</item>
			<item label="Image Viewer (viewnior) ">
				<action name="Execute">
					<execute>viewnior</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-7442" label="Network">
			<item label="JDownloader">
				<action name="Execute">
					<execute>JDownloader</execute>
				</action>
			</item>
			<item label="Filezilla">
				<action name="Execute">
					<execute>filezilla</execute>
				</action>
			</item>
			<item label="Transmission">
				<action name="Execute">
					<execute>transmission-gtk</execute>
				</action>
			</item>
			<item label="Web Browser (chromium)">
				<action name="Execute">
					<execute>chromium</execute>
				</action>
			</item>
			<item label="Web Browser (firefox)">
				<action name="Execute">
					<execute>firefox</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-634348" label="Multimedia">
			<menu id="root-menu-634348-474814" label="Take Screenshot">
				<item label="In 2 Seconds">
					<action name="Execute">
						<execute>command</execute>
					</action>
				</item>
				<item label="now">
					<action name="Execute">
						<execute>command</execute>
					</action>
				</item>
			</menu>
			<item label="Audio Player (audacious)">
				<action name="Execute">
					<execute>audacious</execute>
				</action>
			</item>
			<item label="Audio Player (deadbeef)">
				<action name="Execute">
					<execute>deadbeef</execute>
				</action>
			</item>
			<item label="Sonata">
				<action name="Execute">
					<execute>sonata</execute>
				</action>
			</item>
			<item label="CD/DVD Burning Tool">
				<action name="Execute">
					<execute>xfburn</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-804410" label="Office">
			<item label="Calculator">
				<action name="Execute">
					<execute>speedcrunch</execute>
				</action>
			</item>
			<item label="LibreOffice">
				<action name="Execute">
					<execute>libreoffice</execute>
				</action>
			</item>
			<item label="PDF Viewer">
				<action name="Execute">
					<execute>evince</execute>
				</action>
			</item>
			<item label="XMind">
				<action name="Execute">
					<execute>XMind</execute>
				</action>
			</item>
		</menu>
		<menu id="root-menu-544415" label="Misc">
			<item label="GNS3 Network Simulator">
				<action name="Execute">
					<execute>gns3</execute>
				</action>
			</item>
			<item label="Gtk+ 2.0 theme selector">
				<action name="Execute">
					<execute>lxappearance</execute>
				</action>
			</item>
			<item label="Task Manager (htop)">
				<action name="Execute">
					<execute>xfce4-terminal --maximize --execute htop -d 5</execute>
				</action>
			</item>
			<item label="Task Manager (lxtask)">
				<action name="Execute">
					<execute>lxtask</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="40-34542" label="Openbox Config">
				<item label="GUI Config Tool">
					<action name="Execute">
						<execute>obconf</execute>
					</action>
				</item>
				<item label="GUI Menu Editor">
					<action name="Execute">
						<execute>obmenu</execute>
					</action>
				</item>
			</menu>
			<separator/>
			<menu id="client-list-menu"/>
			<item label="Reconfigure">
				<action name="Reconfigure"/>
			</item>
			<separator/>
			<item label="Exit">
				<action name="Exit"/>
			</item>
		</menu>
	</menu>
</openbox_menu>
